/* progress bar styles */

.progress_bars {
  display: flex;
  position: relative;
  top: 25px;
  margin: 0 15px;
  gap: 5px;
}

.progress_bar_container {
  width: 100%;
  height: 3px;
  display: flex;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.35);
}

.progress {
  background: white;
  height: 3px;
  border-radius: 5px;
  overflow: hidden;
  width: 0%;
}

.progress_bar_active {
  animation-name: ProgressBar;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: inherit;
}

.progress_bar_finished {
  width: 100%;
}

@keyframes ProgressBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
